*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.banner{
    background-color: rgb(255,193,22);
    height: 500px;
}

.container1{
    background-color: rgb(255,193,22);
    position: fixed;
    top: 0;
    left:0;
    height:78px;
    width:100%
}

.main-header{
    width: 80%;
    margin:auto;
    padding-top: 15px ;
}

.main-header img{
    height:45px;

}

hr{
    border-top:1px solid black;
    border-bottom: 1px solid rgb(255,193,22) ;

}

.main-header-title{
    width:50%;
    float: left;
    /* background-color: yellowgreen; */
}

.main-header-nav{
    width:50%;
    float:right;
    text-align: right;
}


.main-header-nav a{
    color:black;
    text-decoration: none;
    font-size: 15px;
    margin: 15px 15px 30px 15px; 
    display: inline-block;
}

.main-header-nav a:last-child{
    background-color:black;
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin:0;
    padding: 15px 8px;
    border-radius: 30px;
    display: inline-block;
}


.clearfix{
    clear:both;
}

.container2{
    margin-top:75px;
    background-color: rgb(255,193,22);
    height: 450px;
    border-bottom: 1px solid black;
}

.second-header{
    width:80%;
    margin: auto;
}

.second-header-banner{
    width: 60%;
    padding: 20px;
    font-family:'Courier New', Courier, monospace;
}
.bannar-large-text{
    margin-top: 60px;
    padding: 20px 0px;
    font-size: 100px;
}
.bannar-small-text{
    font-size: 23px;
    padding: 20px 0px;
}

.container2 button{
    background-color: black;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    width:200px;
    padding:5px;
}


.container{
    width:80%;
    margin: auto;
    margin-top:50px;
}


.trending h5{
    font-weight: lighter;
}

.trending-el{
    width:33%;
    margin-top: 30px;
    
}
.card{
    display: grid;
    grid-template-columns: 0.3fr repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    " num head head "
    " num desc desc "
    ;
}


.trending-el .num{
    grid-area: num;

    font-weight: bolder;
    font-size: 30px;
    color: lightgray;
    display: inline-block;
}

.trending-el .head{
    grid-area: head;
    font-weight: lighter;
    margin-top: 7px;
    font-size: 15px;
    /* color: grey; */
    display: inline-block;
}


.trending-el .desc{
    grid-area: desc;
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
    color:rgb(44, 41, 41);
    display: inline-block;
}


.trending-block{
    display: flex;
    flex-wrap: wrap;

    /* grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);

    grid-template-areas: 
    "el1 el2 el3"
    "el4 el5 el6"; */
}

.blogs-divider{
    border: 1px solid gray;
}

.blog-container{
    width:80%;
    margin:auto;
    
}

.feeds{
    grid-area: feeds;
}

.blogs{
    display: grid;
    width:100%;
    grid-template-columns: repeat(2, 0.75fr) 1fr ;
    grid-template-areas: 
        "feeds feeds article"
    ;
}

.info-name{
    grid-area: info-name;
    /* border: 1px solid red; */
    font-family:italic;
    margin: 5px;
    /* padding:0; */
    /* margin: 0 ; */
}

.info-desc{
    grid-area: info-desc;
    font-size: 16px;
    margin: 5px;
    color: gray;
}


.info-image{
    grid-area: info-image;
    width: 100%;
    /* height:100%; */
}


.info-title{
    grid-area: info-title;
    font-size: 20px;
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}




.info{
    /* border: 1px solid black; */
    margin: 50px 0px;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;

    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    " info-name info-name info-image "
    " info-title info-title  info-image "
    " info-desc info-desc info-image ";
}

.info-image img{
    height:100%;
    width: 75%;
}

.article{
    grid-area: article;
    /* position:sticky; */
    top:80px;
    margin-top: 50px;
}

