*{
    color:black
    /* margin: 0; 
    padding: 0; */
}

.random-class{
    border: 2px solid black;
    padding: 50px;
    background-color: blueviolet;
    color:white;
}


.border{
    background-color: black !important ;
    color:white !important;
}



